# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# Build artifacts
dist/
build/

# Test coverage
coverage/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Docker
*.tar

# Kubernetes / Helm local artifacts
*.tgz

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Misc
tmp/
