apiVersion: apps/v1
kind: Deployment
metadata:
  name: urlshortener-app
  namespace: urlshortener
spec:
  replicas: 1
  selector:
    matchLabels:
      app: urlshortener-app
  template:
    metadata:
      labels:
        app: urlshortener-app
    spec:
      containers:
        - name: app
          image: ghcr.io/JemEnchev/url-shortener-devops:latest
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
            - name: DB_HOST
              value: postgres
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_DB
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: BASE_URL
              value: "http://localhost:8080"
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: urlshortener-app
  namespace: urlshortener
spec:
  selector:
    app: urlshortener-app
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP
